In [1]:
import pandas

In [32]:
import pandas as pd

In [24]:
data ={
    'apple':[3,2,0,1],
    'orange':[0,3,7,2]
}

fo variavel ba pandas

In [43]:
x =pandas.DataFrame(data)
x

   apple  orange
0      3       0
1      2       3
2      0       7
3      1       2

In [46]:
x=pandas.DataFrame(data,index=['A','B','C','D'])
x

   apple  orange
A      3       0
B      2       3
C      0       7
D      1       2

In [49]:
x.loc['B']

apple     2
orange    3
Name: B, dtype: int64

In [50]:
x

   apple  orange
A      3       0
B      2       3
C      0       7
D      1       2